.vs
Debug
x64
Release
CircusSimulation/Debug
CircusSimulation/Release
CircusSimulation/CircusSimulation.aps
CircusSimulation/Resource.aps
CircusSimulation.sdf
SiteswapGraph.sdf
CircusSimulationTests/Debug
CircusSimulationTests/Release
